<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="4.1.0" targetFramework="net472" />
  <package id="Microsoft.Reporting.WinForms.v11" version="1.0.0.0" targetFramework="net472" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.WebForms" version="150.1576.0" targetFramework="net472" />
  <package id="Microsoft.SqlServer.Types" version="160.1000.6" targetFramework="net472" />
</packages>